// ------------------------ start header ------------

.pageHeader {
}
.pageHeader__topImg {
  min-height: 124px;
  width: 100%;
  
  background-image: url('../img/header_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include sm-block {
    min-height: 118px;
  }
}
.pageHeader__navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  padding: 20px 0 10px;

  @include sm-block {
    justify-content: center;

    .pageHeader__logo {
      margin-bottom: 30px;
    }

    .pageHeader__call {
      margin-bottom: 20px;
    }
  }
}
.pageHeader__logo {
  width: 257px;
  height: 48.1px;
  margin-right: 10px;
  margin-bottom: 10px;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}
.pageHeader__call {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.pageHeader__callPhone {
  display: flex;
  flex-direction: column;
  margin-right: 10px;

  font-size: 14px;
  line-height: 19px;
  color: $lightgrey;

  a {
    @include bold;
    text-decoration: none;
    color: #000000;
    font-size: 21px;
    line-height: 24px;
  }
}
.pageHeader__btn {
  display: inline-block;
  padding: 12px 14px;
  border: 1px solid $sky;
  color: $sky;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background-color: $sky;
    color: white;

  }
}
.pageHeader__Grohe {
  font-size: 32px;
  line-height: 32px;
  @include bold;
  color: $blue;
  text-transform: uppercase;
  text-decoration: none;
}

// ------------------------ end header ------------

// ------------------------ start banner ------------

.banner__img {
  position: relative;
  width: 100%;
  padding-top: 27.7%;

  overflow: hidden;

  img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: fill;
    object-position: cover;
  }
}

// ------------------------ end banner ------------




// ------------------------ start popularSection ------------

.pageContent__popularSection {
  padding-top: 41px;
}

.popularSection__title {
  text-align: center;
}

.popularSection__item {
  position: relative;
  padding-top: 74%;

  overflow: hidden;

  background-color: $blue;

  a {
    display: block;
    padding: 12px;

    text-decoration: none;
    color: #ffffff;
    text-align: center;
  }
}

.popularSection__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 82.82%;

  img {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 0;
    line-height: 0;

    object-fit: cover;
    object-position: center;

  }
}

// ------------------------ end popularSection ------------



// ------------------------ start popularCollection------------
.pageContent__popularCollection {
  padding-top: 41px;
}

.popularCollection__title {
  text-align: center;
}

.popularCollection__item {
  position: relative;
  padding-top: 74%;

  overflow: hidden;

  background-color: $blue;

  a {
    display: block;
    padding: 12px;

    text-decoration: none;
    color: #ffffff;
    text-align: center;
  }
}

.popularCollection__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 82.82%;

  img {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 0;
    line-height: 0;

    object-fit: cover;
    object-position: center;

  }
}

// ------------------------ end popularCollection ------------



// ------------------------ start offer ------------
.pageContent__offer {
  padding-top: 41px;
}
.offer {
}
.offer__title {
  text-align: center;
  margin-bottom: 34px;
}
.offer__item {

  position: relative;
  display: flex;
  flex-direction: column;

  border: 2px solid #eeeeee;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.4;
}
.offer__itemImg {
  position: relative;
  width: 100%;
  padding: 15px;
  max-height: 312px;
  padding-bottom: 10px;

  border-bottom: 2px solid #eeeeee;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }


}

.offer__itemInfo {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 15px;
}
.offer__itemDescription {
  display: flex;
  flex-direction: column;
  min-height: 165px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 10px;
}

.offer__itemEstimation {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 10px;
  min-height: 34px;

  a {
    display: inline-block;
    text-decoration: none;
    color: $sky;
    border-bottom: 1px dotted $sky;
  }
}

.stars {
  display: flex;
  margin-right: 20px;
  
}
.star {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
.offer__itemText {
}
.offer__itemCountry {
  display: flex;
  align-items: center;
  margin-top: auto;

  img.flag {
    width: 16px;
    height: 16px;
    margin-right: 20px;
  }
}
.offer__itemNavigation {
}
.offer__itemPrice {
  font-size: 22px;
  line-height: normal;
  margin-bottom: 15px;
}
.offer__itemLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

a:hover .heart,
a:hover .scale {
    fill: $orange;
}

.offer__itemBtn {
  display: inline-block;
  padding: 12px 14px;
  border: 1px solid $sky;
  color: $sky;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background-color: $sky;
    color: white;

  }
}
.offer__itemIcons {
  display: flex;
}
.offer__itemIcons-like {
  width: 24px;
  height: 21px;

  margin-right: 20px;
}
.offer__itemIcons-scales {
  width: 24px;
  height: 21px;
}
.offer__itemCategories {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-wrap: wrap;
}
.offer__itemCategory {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 3px 10px;
  text-align: center;

  color: white;
  border-radius: 5px;
  font-size: 13px;
  line-height: normal;

}
.offer__itemCategory-inStock {
background-color: $green;
}
.offer__itemCategory-free {
  background-color: $lightgreen;
}
.offer__itemCategory-lider {
  background-color: $red;
}
.offer__itemCategory-exclusive {
  background-color: $violet;
}
// ------------------------ end offer ------------



// ------------------------ start design and technology ------------

.pageContent__design {
  padding-top: 41px;
  padding-bottom: 65px;
  border-bottom: 1px solid #EEEEEE;
}

.pageContent__technology {
  padding-top: 34px;
  padding-bottom: 84px;
}

.design__block,
.technology__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.technology__block {
  flex-direction: row-reverse;
}

.design__img,
.technology__img {
  @include size(4.85);
  display: block;
  font-size: 0;
  line-height: 0;
  margin: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
  }

  @include md-block {
    width: 100%;
    margin-bottom: 13px;
  }
}

.design__text,
.technology__text {
  @include size(7.3);

  p {
    margin: 0;
    margin-bottom: 20px;
  }

  @include xl-block {
    font-size: 16px;
  }


  @include md-block {
    width: 100%;
  }
}

// ------------------------ end design and technology ------------



// ------------------------ start footer and technology ------------
.pageFooter {
  padding-top: 43px;
  background-color: $blue;
  color: rgba(255, 255, 255, 0.8);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @include sm-block {
    .footer__popular,
    .footer__info,
    .footer__contact,
    .footer__sales {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__popular {
  @include size(3);
  margin-bottom: 10px;

  a {
    color: inherit;
  }
  
  @include xl-block {
    @include size(6);
  }
}
.footer__title {
  @include bold;
  margin: 0;
  margin-bottom: 10px;
  color: #ffffff;

}
.footer__info {
  @include size(3);
  margin-bottom: 10px;

  @include xl-block {
    @include size(6);
  }
}
.footer__contact {
  @include size(3.5);
  margin-bottom: 10px;

  @include xl-block {
    @include size(6);
  }

  li {
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
  }
}
.footer__sales {
  @include size(2.5);
  margin-bottom: 10px;

  a {
    color: inherit;
    text-decoration: none;
  }

  @include xl-block {
    @include size(6);
  }
}
.footer__copy {
 width: 100%;
  padding: 31px 0 41px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
line-height: 19px;
}
// ------------------------ end footer and technology ------------
